<!DOCTYPE html>
<html>
    <head>
        <!-- bootstrapcdn  -->
        <link href = "//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel = "stylesheet">
    </head>

    <body>
        <!-- Jquery -->
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <!-- Highcharts -->
        <script type="text/javascript" src="http://code.highcharts.com/highcharts.js"></script>
        <!-- Bootstrap -->
        <script src = "//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        
        <!-- header -->
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="col-md-offset-2">
                    <div class="navbar-header">
                        <!-- header logo -->
                        <a class="navbar-brand" href="#">Property Fund </a>              
                    </div>  
                </div>
            </div>
        </nav>

        <!-- Menu under header -->
        <div class="container-fluid">
            <div class="col-md-offset-3">
                <ul class="nav navbar-nav page-header">
                    <li><a href="#">หน้าแรก</a></li>
                    <li><a href="#">ราคาซื้อขาย</a></li>
                    <li><a href="#">อันดับกองทุน</a></li>
                    <li><a href="#">ข่าวสาร</a></li>
                    <li><a href="#">ส่วนให้ความรู้</a></li>
                    <li><a href="#">บทความการลงทุน</a></li>
                </ul>
            </div>
        </div>

        <!-- Content -->
        <div class="container">
            <div class="row">
                {% with request.path as fund_name %}
                {{fund_name}}
                {% endwith %}

                <!-- {% if request.path == "/fund/sample"  %}
                    path is {{request.path}}
                {% endif %} -->
                
            </div>
        </div>

    </body>
</html>