<!DOCTYPE html>
<html>
    <head>
        <!-- bootstrapcdn  -->
        <link href = "//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel = "stylesheet">
    </head>

    <body>
        <!-- Jquery -->
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <!-- Highcharts -->
        <script type="text/javascript" src="http://code.highcharts.com/highcharts.js"></script>
        <!-- Bootstrap -->
        <script src = "//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <!-- Chartit -->
        {% load chartit %}
        {{ chart|load_charts:"value_chart" }}

        <!-- header -->
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="col-md-offset-2">
                    <div class="navbar-header">
                        <!-- header logo -->
                        <a class="navbar-brand" href="#">Property Fund </a>              
                    </div>  
                </div>
            </div>
        </nav>

        <!-- Menu under header -->
        <div class="container-fluid">
            <div class="col-md-offset-3">
                <ul class="nav navbar-nav page-header">
                    <li><a href="#">หน้าแรก</a></li>
                    <li><a href="#">ราคาซื้อขาย</a></li>
                    <li><a href="#">อันดับกองทุน</a></li>
                    <li><a href="#">ข่าวสาร</a></li>
                    <li><a href="#">ส่วนให้ความรู้</a></li>
                    <li><a href="#">บทความการลงทุน</a></li>
                </ul>
            </div>
        </div>

        <!-- Content -->
        <div class="container">
            <div class="row">
                <div class="col-md-offset-1">
                    <!-- name -->
                    <h1><small>{{ name|upper }} : {{ fund_data.full_name }}</small></h1>
                </div> 
            </div>
            <!-- graph -->
            <div class="col-md-8 col-md-offset-1">
                <div id="value_chart">
                </div>
            </div>

            <!-- Fund detail -->
            <div class="col-md-4 col-md-offset-1">
                <font size="4">รายละเอียดกองทุน</font><br>
                <table class="table table-hover">
                    <tbody>
                        <tr>
                            <td>ประเภทกอง</td>
                            <td class="active" align="center">{{ fund_data.fund_type }}</td>
                        </tr>
                        <tr>
                            <td>ประเภทอสังหาริมทรัพย์ที่ถือครอง</td>
                            <td class="active" align="center">{{ fund_data.property_type }}</td>
                        </tr>
                        <tr>
                            <td>ปีที่เข้า IPO</td>
                            <td class="active" align="center">{{ fund_data.ipo_date }}</td>
                        </tr>
                        <tr>
                            <td>จำนวนครั้งจ่ายปันผลต่อปี</td>
                            <td class="active" align="center">{{ fund_data.dividend_payout_amount_per_year }}</td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <div class="col-md-3 col-md-offset-1 well">
                <h2><small>Recommend</small></h2>
                aaa
            </div>
        </div>

    </body>
</html>